@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;

.tooltip {
    position: absolute;
    visibility: hidden;
}

.has-tooltip:hover .tooltip {
    visibility: visible;
    z-index: 50;
}

@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

html,
body {
    font-family: 'Andika', sans-serif;
    @apply bg-background text-foreground p-0 m-0 text-[14.464px];
}

:root:has(.disable-page-scroll) {
    overflow: hidden;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --primary: 91.56, 43.4%, 45.1%;
        --primary-foreground: 0, 0%, 0%;

        --secondary: 265.26, 43.4%, 45.1%;
        --secondary-foreground: 0, 0%, 100%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
    }
}

@layer base {
    body {
        @apply bg-background text-foreground;
    }
}

.ProseMirror ul {
    @apply list-disc pl-4;
}
.ProseMirror ol {
    @apply list-decimal pl-4;
}

.ProseMirror a {
    @apply text-blue-500 hover:underline underline-offset-2;
}

.ProseMirror u {
    @apply underline-offset-2;
}

h2 {
    @apply text-3xl;
}
h3 {
    @apply text-2xl;
}
